---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
redirect_from:
  - /resume
---

Afterschool math teacher
============================
* Middle school studet course
* Organization: Samsung dream class
[link](https://www.samsung.com/global/sustainability/popup/popup_doc/AYUrztWKEvIAIx_C/)
* Date: 2017-03-01 ~ 2019-12-31
* Location: Seoul, Korea

I taught impoverished middel school students math math for three years and was selected as a representative teacher for two years. 
Also, for their future career, I planned an individualized career development program.


{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
